<!DOCTYPE html>
<html>
    <head>
        <meta charset = "UTF-8">
        <meta name = "viewport" content="width = device-width, initial-scale=1.0">
        <title>Page Detail</title>
    </head>
    <body>
        
        <h1>Page Detials</h1>
        <div>
            <p><strong> ID: </strong>{{page.id}}</p>
            <p><strong> Article_name:  </strong>{{page.articles_name}}</p>
            <p><strong> Articles_site: </strong>{{page.artticles_site}}</p>

        </div>
    </body>
</html>